<div>
    <b>Classification System:</b> {{classification_system.name}}
</div>
<div>
    <b>Id:</b> {{classification_system.id}}
</div>
<div>
    <b>Description:</b> {{classification_system.description}}
</div>
<div>
    <b>Authority Name:</b> {{classification_system.authority_name}}
</div>
<div>
    <b>Version:</b> {{classification_system.version}}
</div>
</br>
<b>Classes</b>
<div>
    <table>
        <tr>
        </tr>
        <tr>
            <th>name</th>
            <th>description</th>
            <th>code</th>
            <th>id</th>
            <th>class_parent_name</th>
        </tr>
        {% for class in classification_system.classes()%}
        <tr>
            <td>{{class['name']}}</td>
            <td>{{class['description']}}</td>
            <td>{{class['code']}}</td>
            <td>{{class['id']}}</td>
            <td>{{class['class_parent']}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</br>
</br>